@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Agrandir";
  src: url("../../public/Agrandir-Regular.otf");
}

@font-face {
  font-family: "Poppins";
  src: url("../../public/Poppins-Light.ttf");
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

@keyframes pulse-blac-red {
  50% {
    color: crimson;
  }
}
.animate-pulse-blackred {
  animation: pulse-blac-red 1.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes move-left-to-right {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(-100%);
  }
}

.animate-conveyor-belt {
  animation: move-left-to-right linear 12.5s infinite;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #313251;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #313251;
  transform-origin: bottom center;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom center;
}

.body {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(162, 241, 232, 1) 100%
  );
}
